<section class="facts">
  <a name="Skills"></a>
  <div class="facts__wrap">
    <div class="title">
      <h3>
        Факты о нас
      </h3>
    </div>
      <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <div class="block block--first">
            <div class="blue-circle"></div>

            <img src="../img/facts-pig.png" alt="pig">
            <h4>Оплата</h4>
            <p>Платить можно потом — гибкие системы кредитования и рассрочки</p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="block block--second">
            <div class="blue-circle"></div>

            <img src="../img/facts-cal.png" alt="cal">
            <h4>Время</h4>
            <p>Не нужно ездить по рынкам и магазинам, тратя время и нервы.</p>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="block block--third">
            <div class="blue-circle"></div>

            <img src="../img/facts-group.png" alt="group">
            <h4>Организация</h4>
            <p>Не нужно заниматься организацией перевозки и погрузки материалов.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
