<section class="first-screen">
  <div class="fisrt-screen__wrap">
    <div class="bg-image"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-8">
          <div class="item item--left">
            <div class="blue-but">
              <p>
                уютный дом
              </p>
            </div>
            <h1 class="main-title">
              Полюбить ремонт
              просто, мы сделаем
              его за вас!
            </h1>
            <h2>
              2939 жителей доверили нам ремонт своих квартир
            </h2>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="item item--right">
            <h3>Оставьте свои контакты</h3>
            <p class="text--grey">и мы свяжемся с Вами</p>
            <form action="get" class="form">
              <label for="name">Имя</label>
              <input type="text" id="name" placeholder="Александр" required>
              <label for="email">E-mail</label>
              <input type="email" id="email" placeholder="Alex@yandex.ru" required>
              <label for="tel">Телефон</label>
              <input type="tel" id="tel" placeholder="+8 495 007-81-24" required>
              <input type="submit" value="Получить консультацию" class="form-button">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
