<section class="info-screen">
  <div class="info-screen__wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="section-first">
            <h5 class="info-title">
              Мы контролируем рабочих за вас
            </h5>
            <ul class="unnom-list">
              <li>
                Многоуровневый мониторинг качества работ.
              </li>
              <li>
                Персональный менеджер контроля качества.
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="section-second">
            <h5>
              Многоуровневый мониторинг качества работ. Персональный менеджер контроля качества.
            </h5>
          </div>
        </div>
        <div class="col-md-4 col-lg-2 col-sm-6">

          <div class="section-img--one">
            <img src="../img/room-1.png" alt="" class="room-img room-img--one">
            <p class="room-num">
              1-комнатная
            </p>
            <p class="room-text">
              От 50 календарных дней!
            </p>
          </div>

        </div>

        <div class="col-md-4 col-lg-2 col-sm-6">

          <div class="section-img--two">
            <img src="../img/room-2.png" alt="" class="room-img room-img--two">
            <p class="room-num">
              2-комнатная
            </p>
            <p class="room-text">
              От 70 календарных дней!
            </p>
          </div>

        </div>

        <div class="col-md-4 col-lg-2 col-sm-6">

          <div class="section-img--three">
            <img src="../img/room-3.png" alt="" class="room-img room-img--three">
            <p class="room-num">
              3-комнатная
            </p>
            <p class="room-text">
              От 90 календарных дней!
            </p>
          </div>

        </div>
      </div>
    </div>
    <div class="sofa-img"></div>
    <div class="blue-line">
      <h6>Уже совсем скоро!</h6>
      <p>Новые решения по отделке и дизайну вашей квартиры от экспертов «Уютный Дом»</p>
    </div>
    <h6 class="footer-text">Уютный дом</h6>
  </div>
</section>
