<section class="nav">
  <div class="nav__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-sm-12 justify-content-center d-flex">
          <div class="nav__elem nav__elem--first d-flex">
            <a href="#">
              <p class="logo-text">
              <span class="bg-blue"> уютный </span> дом
              </p>
              <p class="litle-text">
                Строительные и ремонтные услуги
              </p>
            </a>
          </div>
        </div>
        <div class="col-xl-7 col-sm-12 justify-content-around d-flex">
          <div class="nav__elem nav__elem--second">


            <!--menu-collapsed-->
            <div class="menu ">
              <div class="menu__collapsed">
                <div class="bar"></div>
            </div>

              <ul class="menu__list">
                <li>
                  <a href="#">
                    О нас
                  </a>
                </li>
                <li>
                  <a href="#">
                    Наши преимущества
                  </a>
                </li>
                <li>
                  <a href="#">
                    Наши кейсы
                  </a>
                </li>
                <li>
                  <a href="#">
                    Как мы работаем
                  </a>
                </li>
              </ul>
              </div>
          </div>
         </div>

        <div class="col-xl-2 col-sm-12 justify-content-center d-flex">
          <div class="nav__elem nav__elem--third">

            <p class="tel-num">
              <a href="tel:+8-800-222-32-54">
                8-800-222-32-54
              </a>
            </p>

            <p class="call">
              <a href="tel:+8-800-222-32-54">
                Заказать звонок
              </a>
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
